body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #5cb85c;
    color: white;
}

.hero h2 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.hero button {
    background-color: #fff;
    color: #5cb85c;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.hero button:hover {
    background-color: #ddd;
}

#workouts {
    padding: 20px;
    text-align: center;
}

.workout-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.workout {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.workout h3 {
    margin-bottom: 10px;
}

.workout p {
    margin-bottom: 20px;
}

.workout button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.workout button:hover {
    background-color: #4cae4c;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
